form {
    border: 10px solid #3f2c61;
    border-radius: 3px;
    padding: 40px;
}

input {
    padding: 5px 20px;
    width: 100%;
    line-height: 16px;
    margin: 10px 0;
    &#btnSubmit{
        color: rgb(0, 0, 0);
        background-color: darkorange;
    }
}
